h1 {
  color: royalblue;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
}
aside {
  width: 20%;
  background-color: #f0f0f0;
  padding: 20px;
}
main {
  width: 80%;
  padding: 20px;
  background-color: #fff;
}

/* GitHub CSS-stijl voor codeblokken */
pre {
    display: block;
    padding: 16px;
    margin: 0 0 16px;
    font-size: 85%;
    line-height: 1.45;
    border-radius: 3px;
    overflow: auto;
    word-wrap: normal;
    background-color: #f6f8fa;
    border: 1px solid #d1d5da;
  }
  
  pre code {
    font-size: 100%;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
  }
  
