.kilian {
    background-image: url("../nerds/kilian2.png");
}

.fenna {
    background-image: url("../nerds/fenna2.png");
}

.jeffrey {
    background-image: url("../images/jeffrey.png");
}

.nils {
    background-image: url("../nerds/nils2.jpeg");
}

.jeremy {
    background-image: url("../nerds/jeremy.png");
}

.marieke {
    background-image: url("../nerds/marieke2.png");
}

.miriam {
    background-image: url("../nerds/miriam.png");
}

.robert {
    background-image: url("../nerds/robert2.png");
}

.bart {
    background-image: url("../nerds/bart.png");
}

.bramus {
    background-image: url("../nerds/bramus.png");
}

.waag {
    background-image: url("../images/waag.jpeg");
}

.html {
    background-image: url("../images/html.png");
}

.css {
    background-image: url("../images/css.png");
}

.js {
    background-image: url("../images/js.png");
}

.node {
    background-image: url("../images/node.png");
}

.nerds {
    background-image: url("../font-images/nerds.png");
}

.cssday {
    background-image: url("../font-images/cssday.png");
}

.css {
    background-image: url("../font-images/css.png");
}

.bt {
    background-image: url("../font-images/bt.png");
}

.hackaton {
    background-image: url("../font-images/hackaton.png");
}

.ucd {
    background-image: url("../font-images/ucd.png");
}

.wafs {
    background-image: url("../font-images/wafs.png");
}

.api {
    background-image: url("../font-images/api.png");
}

.meesterproef1 {
    background-image: url("../font-images/meesterproef.png");
}

.sprekers {
    background-image: url("../font-images/sprekers.png");
}
